<mat-sidenav-container class="sidenav-container" (backdropClick)="drawer.close()">
  <mat-sidenav #drawer class="sidenav" [attr.role]="isHandset ? 'dialog' : 'navigation'">
    <mat-toolbar color="primary">Navigation</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/overview" (click)="drawer.close()">Overview</a>
      <a mat-list-item routerLink="/expenses" (click)="drawer.close()">Expenses</a>
      <a mat-list-item routerLink="/goals" (click)="drawer.close()">Goals</a>
      <a mat-list-item routerLink="/analytics" (click)="drawer.close()">Analytics</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="position: fixed; z-index: 5;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Budget</span>
      <div fxFlex></div>
      <button mat-button (click)="logout()">Logout</button>
    </mat-toolbar>

    <div style="margin-top: 50px">
      <div *ngIf="afAuth.user | async as user; else showLogin">
        <router-outlet></router-outlet>
      </div>
      <ng-template #showLogin>
        <div fxLayout="column" fxLayoutAlign="center center" style="height: 90vh;">
          <h1>Welcome!</h1>
          <h2>Please sign in.</h2>

          <button mat-raised-button color="primary" (click)="login()">Sign In</button>
        </div>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
